.App {
  text-align: center;
}

/* Add this to your CSS file or inside a <style> tag */

.button-container {
    display: flex;
    gap: 10px;
}

@media (max-width: 578px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}

